<div class="jumbotron mt-4">

<h1 class="display-4">Acerca de </h1>

<p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aspernatur vero possimus expedita! Non sint animi eligendi blanditiis voluptatum, accusantium mollitia ut hic commodi, nemo doloremque ullam consequuntur earum quam?
    </p>

    <hr class="my-4">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ut culpa aspernatur omnis repellat, obcaecati, pariatur, delectus perferendis nulla maxime assumenda at nesciunt quasi? Porro magni in itaque recusandae ab?</p>


    <a href="/" class="btn btn-primary">Regresar a Inicio</a>
</div>