<br><br>



<div class="iniciar">
    <h1 align="center">Textiles Opico S.A. de C.V.</h1>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <div class="row g-0 mt-5 mb-5 height-100">
        <div class="col-md-6">
            <div class="bg-dark p-4 h-100 sidebar">

                <ul class="chart-design " align="center">
                    <li></li>
                    <li></li>
                    <li><img src="https://cdn-icons-png.flaticon.com/512/2328/2328966.png" align="center" alt="JV"
                            width="auto" height="350px"></li>
                </ul>
            </div>

        </div>

        <div class="col-md-6">
            <div class="bg-white p-4 h-100">
                <div class="p-3 d-flex justify-content-center flex-column align-items-center"> <span
                        class="main-heading">
                        <h3>Inicio de Sesión</h3>
                    </span>
                    <ul class="social-list mt-4" align="center">
                        <img src="https://cdn-icons.flaticon.com/png/512/5129/premium/5129309.png?token=exp=1654199203~hmac=6e1a9266d4fed695fe1985b6c30c60cb"
                            align="center" alt="JV" width="auto" height="55px">

                    </ul>
                    <div class="form-data"> <label>Usuario</label> <input type="text" class="form-control w-100"> </div>
                    <div class="form-data"> <label>Contraseña</label> <input type="password" class="form-control w-100">
                    </div><br>
                    <div class="d-flex justify-content-between w-100 align-items-center">
                        <div class="form-check"> <input class="form-check-input" type="checkbox" value="true"
                                id="flexCheckDefault"> <label class="form-check-label" for="flexCheckDefault">Recordar
                                Usuario</label> </div> <a class="text-decoration-none forgot-text" href="#">Olvido
                            Contraseña</a>
                    </div>
                    <div class="signin-btn w-00 mt-5" align="center"> <button class="btn btn-danger btn-block">Log
                            In</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>